<section>
  <section><b>Nombre del país: </b> Perú</section>
  <section>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Flag_of_Peru_%281884%E2%80%931950%29.svg/220px-Flag_of_Peru_%281884%E2%80%931950%29.svg.png"
    />
  </section>
  <section>
    <b>Datos Generales</b>
    <p>
      Perú es un país de Sudamérica que abarca una sección del bosque del
      Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los
      Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el
      Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios
      arqueológicos. El Perú es uno de los países más variados del mundo. Un
      país multicultural, lleno de tradiciones, una laureada gastronomía y
      vastas reservas naturales.
    </p>
  </section>
</section>
